<div class="container dashboard-container">
  <h1 class="dashboard-title"><%= @user.username %>'s Dashboard</h1>
  <div class="row justify-content-between">
    <div class="my-games-col dash-col col-xs-12">
      <p>My games</p>
      <div class="col-6 my-games-pics">
        <% @user.games.each do |game| %>
        <li style="list-style-type: none"><%= game.name %></li>
        <div class="my-game-card">
          <%= cl_image_tag(game.photos[0].key, class: "background-game-pic") %>
          <div class="my-game-card-image">
            <%= cl_image_tag(game.photos[1].key, class: "game-pic") %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="my-bookings-col dash-col col-xs-12">
      <p>My bookings</p>
      <div class="col-6 bookings-pics">
        <% @user.bookings.each do |booking| %>
        <li style="list-style-type: none"><%= booking.game.name %> - Status: <%= booking.status %></li>
        <%= link_to 'update status', update_booking_status_path(id: booking.id), data: {turbo_method: :patch} %>
        <div class="my-booking-card">
          <%= cl_image_tag(booking.game.photos[0].key, class: "background-booking-pic") %>
          <div class="my-booking-card-image">
            <%= cl_image_tag(booking.game.photos[1].key, class: "booking-pic")%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
