
<%= @user.username %>

<p>My games</p>
<% @user.games.each do |game| %>
<li><%= game.name %></li>
<%= cl_image_tag(game.photos[0].key) %>
<%= cl_image_tag(game.photos[1].key) %>
<% end %>

<p>My bookings</p>
<% @user.bookings.each do |booking| %>
<li><%= booking.game.name %> - Status: <%= booking.status %></li>
<%= link_to 'update status', update_booking_status_path(id: booking.id), data: {turbo_method: :patch} %>
<%= cl_image_tag(booking.game.photos[0].key) %>
<%= cl_image_tag(booking.game.photos[1].key) %>
<% end %>
