<% condition_collection = ["Excellent", "Good", "Acceptable"] %>
<% platform_collection = ["Nintendo Switch", "PlayStation 4", "PlayStation 5", "Xbox One", "Xbox Series X"] %>

<div class="container pt-5 add-form">
  <%= simple_form_for(@game) do |f| %>
    <div class="row justify-content-center">
      <div class="col-6 game-form">
        <div class="row">
          <div class="col-12 mb-3">
            <%= f.input :name, placeholder: 'Type the name...' %>
          </div>
          <div class="col-6 mb-3">
            <%= f.input :category, placeholder: 'Type the category...' %>
          </div>
          <%#= f.input :condition, placeholder: 'Type the condition...' %>
          <div class="col-6 mb-3">
            <%= f.input :condition, collection: condition_collection, prompt: 'Choose the condition...' %>
          </div>
          <%#= f.input :platform, placeholder: 'Type the platform...' %>
          <div class="col-6 mb-3">
            <%= f.input :platform, collection: platform_collection, selected: 'Nintendo Switch' %>
          </div>
          <div class="col-6 mb-3">
            <%= f.input :price_per_week, input_html: { min: '0', step: 'any' }, placeholder: 'Price in €...' %>
          </div>
          <div class="col-12 mb-3">
          <%#= f.association :user, collection: User.all, prompt: 'Provided by...' %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="col-12">
            <%= f.submit class:'btn btn-flat booking' %>
          </div>
        </div>
      </div>
      <!-- "Provided by" currently included for devise to accept new games. -->
    </div>
  <% end %>
</div>
