<div class="d-flex flex-row justify-content-between">
    <div class="button-back">
      <%= link_to "Back", games_path, class:"btn btn-flat back"%>
    </div>
    <%= link_to "Delete",
      game_path(@game),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-flat delete"%>
</div>
<div class="row col-12 game-card">
  <div class="col-lg-5 col-12 game-image-column">
    <%= image_tag("botw", class: "game-image") %>
  </div>
  <div class="col-lg-7 col-12 desc-col">
    <div class="game-description">
      <h3 class="game-title-show"><b><%= @game.name %></b></h3>
      <p class="p-show"><strong>Category:</strong> <%= @game.category %></p>
      <p class="p-show"><strong>Condition:</strong> <%= @game.condition %></p>
      <p class="p-show"><strong>Platform:</strong> <%= @game.platform %></p>
      <p class="p-show"><strong>Provided by:</strong> <%= @game.user.username %></p>
      <div class="button-back">
        <%= link_to "Book this game", new_game_booking_path(@game), class:"btn btn-flat booking"%>
      </div>
    </div>
    <br>
  </div>
</div>
