<div class="d-flex flex-row justify-content-between">
    <div class="button-back">
      <%= link_to "Back", games_path, class:"btn btn-flat back"%>
    </div>
    <%= link_to "Delete",
      game_path(@game),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-flat delete" if policy(@game).destroy? %>
</div>
<div class="row col-12 game-card">
  <div class="col-lg-5 col-12 game-image-column">
  <% if @game.photos[1].present? %>
    <%= cl_image_tag(@game.photos[1].key, class: "game-image") %>
  <% else %>
    <%= image_tag('yellow_game', class: "game-image") %>
  <% end %>
    <br>
  </div>
  <div class="col-lg-7 col-12 desc-col">
    <div class="game-description">
      <h3 class="game-title-show"><b><%= @game.name %></b></h3>
      <p class="p-show"><i class="fa-solid fa-box-open"></i> <strong>Category:</strong> <em><%= @game.category %></em></p>
      <p class="p-show"><i class="fa-solid fa-compact-disc"></i> <strong>Condition:</strong> <em><%= @game.condition %></em></p>
      <p class="p-show"><i class="fa-solid fa-tv"></i> <strong>Platform:</strong> <em><%= @game.platform %></em></p>
      <p class="p-show"><i class="fa-solid fa-user-astronaut"></i> <strong>Provided by:</strong> <em><%= @game.user.username %></em></p>
      <p class="p-show"><i class="fa-solid fa-euro-sign"></i> <strong>Price per week:</strong> <em><%= @game.price_per_week %>€</em></p>
      <% unless current_user == @game.user %>
        <div class="button-back">
          <%= link_to "Book this game", new_game_booking_path(@game), class:"btn btn-flat booking"%>
        </div>
      <% end %>
    </div>
    <br>
  </div>
</div>

<%#= image_tag("botw", class: "game-image") %>
<%#= cl_image_tag @game.photos[0].key %>
<%#= cl_image_tag @game.photos[1].key %>
